body{
	background:#EEEEEE;
}
#Body{}
.Normal, .NormalDisabled{
	font-size:12px;
}
P, p{margin:0;padding:0;}
UL, ul{}
LI, li {
    	list-style-position: outside;
   	margin-left: 15px;
}
table tr td.Normal, table tr td.NormalBold, table tr td.NormalDisabled {
	padding:2px;
}
h1, h2, h3, h4 {}
h2 {
	font-size:18px;
}
h2.greytnessUL{
	color: #860038;
    	font-family: 'Adamina';
    	font-variant: small-caps;
	font-size:16px;
	line-height:24px;
}
.action-buttons{
	clear:both;
}
.page_heading.home {
    	background: background: #860038; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiM4NjAwMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWVlZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #860038 40%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#860038), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #860038 40%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #860038 40%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #860038 40%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #860038 40%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#860038', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
    	height: 270px;
	width:100%;
	min-width:1000px;
}
.Left{
	float:left;
}
.Right{
	float:right;
}
#body{
	background: none repeat scroll 0 0 #EEEEEE;
}
#home{}
.page_wrapper{}
.header{}
.logo_search {
    	margin: 0 auto;
    	padding: 19px 0;
    	width: 995px;
}
.Search{
	z-index:5;
	margin: 25px 0;
}
.Search .NormalTextBox{
	font-size:14px;
	height:24px;
	border-radius:2px;
	
}
.SearchButton{}
.BannerDiv {
	clear:both;
}
.HeaderPane{}
.BannerPane1{}
.BannerPane2{}
.navigation{}
.nav{}
.menu{	
	background: none repeat scroll 0 0 #336699;
	height:36px;
	z-index:100;
    	
}
.sf-menu ul li {
    	min-width: 180px;
    	
}
.sf-menu li {
    background: none repeat scroll 0 0 transparent;
}
.sf-menu li li {
    background: none repeat scroll 0 0 #336699;
}
.sf-menu li li li {
    background: none repeat scroll 0 0 #336699;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    top: 36px;
}
.sf-menu li.current li a, .sf-menu li.current li li a, .sf-menu li.current li li li a {
    color: #FFFFFF;
}
.sf-menu a {
    border-left: 1px solid #FFFFFF;
    border-top: 0;
    padding: 1em;
    text-decoration: none;
}
.sf-menu li li a {
   
}
.sf-menu li li li a {
 
}
.sf-menu a, .sf-menu a:visited {
    color: #FFFFFF;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    	background: none repeat scroll 0 0 #CDCECF;
	color: #860038;
    	outline: 0 none;
}

.content {
    	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C8C9C9;
    	border-radius: 4px;
    	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
    	height: auto;
    	margin: -150px auto 20px;
    	overflow: hidden;
    	padding: 20px;
    	min-width: 950px;
	max-width:995px;
	width:75%;	
}
.ContentPaneDiv {
    	clear: both;
    	margin: 20px 0 0;
}
.LeftPane {
    	
    	width: 28%;
	margin: 0 5px 0 0;
}
.InsideContentPane {
    float: left;
    left: 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 70%;
}
.ContentPane {
    	width: 100%;
}
.SubContentPaneDiv {
    	float: left;
    	width: 100%;
}
.SubContentPane {
	margin: 0;
    	width: 59%;
}
.SubRightPane {
    	margin: 0 0 0 10px;
    	width: 38%;
}
.ContentPane2{
    	width: 100%;	
}
.SubContentPane2Div{
	float: right;
   	width: 100%;
}
.SubContentPane2 {
    	margin: 0;
    	width: 59%;
}
.SubRightPane2 {
    	margin: 0 0 0 10px;
    	width: 38%;
}
.ContentPane3Div{
	clear: both;
    	margin: 15px auto;
}
.LeftPane3{
	
    	width: 24%;
	margin: 0 5px 0 0;
}
.ContentPane3{
	
    	width: 49%;
	margin: 0 6px 0;
}
.RightPane3{
	
    	width: 24%;
	margin: 0 0 0 5px;
}
.BottomPane{
	width:100%;
}
.BottomDiv{
	border-top: 2px solid #DDDDDD;
	clear:both;
	float:left;
	width:100%;
	margin-top: 10px;
	
}
.footer {
    	margin: 5px auto 0;
    	text-align: center;
    	width: 50%;
}
.termsdiv a {
	padding: 0 15px;
}
.termsdiv a:first-child {
	padding: 0 15px 0 0;
}
.termsdiv a:last-child {
	padding: 0 0 0 15px ;
}
.copyrightdiv {}
.DNNEmptyPane {
	background: none !important;
    	border: none !important;
    	border-radius: 0 !important;
    	margin: 0 !important;
    	max-width: 0 !important;
    	min-width: 0 !important;
    	padding: 0 !important;
    	width: 0 !important;
}
.dnnEditState .siteWrapper {
padding-bottom:85px;
}
<!--[if gte IE 9]>
.gradient {
       filter: none;
}
<![endif]-->


